@import './assets/queries.css';

html {
	background: var(--gray-10);
}

#root {
	width: min(960px, 100%);
	min-height: 100vh;

	margin: 0 auto;
	padding: 1rem;

	display: flex;

	justify-content: center;
	align-items: center;
}

.App {
	width: 360px;
	padding: 0.25rem;
	background-color: var(--gray-15);
	border: 1px solid var(--gray-20);
	border-radius: 0.125rem;
}

#formula,
#display {
	text-align: right;
}

#formula {
	min-height: 3rem;
	padding-top: 0.5rem;
}

.formula--large {
	font-size: 1.2rem;
}

/* .formula--small {
	font-size: 0.8rem;
} */

#display {
	padding: 1rem 0.5rem 1.5rem;
	color: #ccc;
}

.display__operator {
	display: inline-block;
	margin: 0 0.125rem;
	color: #69f;
}

#buttons {
	display: grid;
	grid-template-columns: repeat(4, minmax(3rem, 1fr));
	grid-auto-rows: 3rem;
	gap: 0.25rem;
}

.btn-digit {
	background-color: #0006;
}
.btn-operator,
.btn-function {
	background-color: #0003;
}

.btn-calculator {
	font-size: 1.25rem;

	border-radius: 0.125rem;
	outline-style: solid;
	outline-width: 1px;
	outline-color: transparent;

	transition:
		background-color 0.15s ease-in-out,
		outline-color 0.15s ease-in-out;
}

.btn-calculator:active {
	border: none;
	outline-color: #666;
}

.btn-calculator:focus-visible,
.btn-calculkator:hover {
	background-color: transparent;
}

#function-parenthesis {
	color: #66f;
}

#function-clear {
	color: #c33;
}

#function-clear:focus-visible,
#function-clear:hover {
	background-color: #6003;
}

#function-equals:focus-visible,
#function-equals:hover {
	background-color: #0063;
}
